<%= react_component('PortfolioNew', {user: @user, portfolio: @user.portfolio, slug: @user.slug}, {prerender: true}) %>


<%= form_for(@user, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Make a friend' %>
  </div>
<% end %>
